@tailwind base;
@tailwind components;
@tailwind utilities;


.footer-cartoon {
    transition: all .5s linear;
    position: fixed;
    cursor: pointer;
    width: 160px;
    z-index: 999;
    right: 10px;
    bottom: 0;
}

.modal-dashboard .modal-header closeButton {
    color: red !important;
  }

  .table-group-td {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

    /* styles.css or your stylesheet */
  .table-group-td:hover{
    color: white;
  }

  .table-group-td:hover a {
    color: white;
    text-decoration: underline !important;
  }

  
  .name-column {
    width: 20%;
  }
  
  .liquidity-column {
    width: 20%;
  }
  
  .volume-column {
    width: 20%;
  }
  
  .pool-column {
    width: 20%;
  }
  
  .creator-column {
    width: 20%;
  }
  
  .table-group-th,
  .table-group-td {
    text-align: left;
    vertical-align: middle;
  }
  
  .center-loader {
    display: flex;
    justify-content: center;
    align-items: center; /* Or any other height you prefer */
  }
  
  .badg {
    opacity : 70%;
    color: red;
    background-color: rgb(39, 38, 38) !important;
    border: 1px solid red !important;
    margin-top: 10px;
  }
  
 

/* Custom toast container styles */
.Toastify__toast-container--bottom-right {
  width: auto !important; /* Auto width to fit content */
  max-width: 600px; /* Increase max-width */
  padding: 20px !important; /* Increase padding */
  margin: 0 !important; /* Remove default margin */
}

/* Custom individual toast styles */
.Toastify__toast {
  max-width: 600px !important; /* Increase max-width for individual toasts */
  padding: 10px 40px!important; /* Increase padding for individual toasts */
  font-size: auto !important; /* Increase font size for individual toasts */
  min-height: 50px !important; /* Increase minimum height for the toast */
  border-radius: 2.5%;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.Toastify__toast-body {
  margin: 0 !important; /* Remove default margin for body */
  flex-grow: 1; /* Allow body to take up available space */
}

.Toastify__progress-bar {
  height: 5px !important; /* Adjust progress bar height */
}
